body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}
th {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

tr img {
    width: 40px;
    height: 40px;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4);
}

td {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}